# ignore everything
/*
/.config/1Password
/.config/dconf
/.config/mozilla
/.config/BraveSoftware
/.config/chromium
/.config/google-chrome-beta
/.config/google-chrome-unstable
/.config/google-chrome
/.config/microsoft-edge-dev
/.config/vivaldi-snapshot
/.config/vivaldi
/.config/pulse
/.config/spotify
/.config/ZenNotes
/.config/zen

# except these directories
!/.config
!/.1password
!/.agents
!AGENTS.md
!easyeffects_eq.json

# except these files
!.asdfrc
!.gitignore
!.gitconfig
!README.md

# pi coding agent config
!/.pi
/.pi/agent/sessions/

# ignore RUST specific files
.config/cargo/*
!.config/cargo/config.toml
!.config/cargo/.gitignore

# ignore GitHub CLI authentication files
.config/gh/hosts.yml

# ignore fish environment file
.config/fish/conf.d/environment.fish
.config/fish/fish_variables
