[Desktop Entry]
Type=Application
Name=Bitwarden
Comment=Bitwarden startup script
Exec=/opt/Bitwarden/bitwarden-app --autostart
StartupNotify=false
Terminal=false
