* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(255, 255, 255, 0.4);
}

button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.55);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  margin: 8px;
  padding: 20px 10px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 10px;
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.15),
    inset 0 0 20px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#logout,
#reboot,
#shutdown,
#suspend {
  border-radius: 10px;
}

#logout {
  background-image: image(url("icons/logout.png"),
      url("/usr/share/wlogout/icons/logout.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"),
      url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"),
      url("/usr/share/wlogout/icons/shutdown.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"),
      url("/usr/share/wlogout/icons/suspend.png"));
}
